@{
    ViewBag.Title = "Home Page";
}



<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        Body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: larger;
           /* color: cadetblue;*/
        }
        h1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: larger;
            color: black;
        }
        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: larger;
            color: cadetblue;
        }


<!--<!--.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 25px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}-->-->

@*@media /*screen and (max-height: 450px) {*/
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*@
    </style>
</head>
<body>

    
        <h2 style="text-align:center;">Merhaba SofIto Akademiye Hoşgeldiniz</h2>

        <br />
        <br />
        <br />
        <div id="AnaMenu">

            <h2>Proje Hakkında </h2>
            <p>
                Sektördeki kalifiye işgücü eksikliğine istinaden, Odamız öncülüğünde günümüz gençlerine geleceğin yetkinliklerini kazandırmak için başlatılan SoftITo Yazılım-Bilişim Akademisi Projemiz; yazılım sektörüne güçlü insan kaynağı yetiştirmeyi, girişimcilik, mentörlük ve istihdam hedefli yeni nesil yazılım ekosistemi oluşturmayı, Türkiye’de yazılım ve bilişim teknolojilerine ulaşmada fırsat eşitsizliğinin azaltılmasını, sektörün gelişim eğrisi ve hedefleri çerçevesinde, yazılım sektöründeki bu büyümeden en fazla payı almak adına hazırlanmıştır.

            </p>

            <p>

                SoftITo Yazılım - Bilişim Akademisi Projesi, genel anlamda günümüz gençlerine geleceğin yetkinliklerini kazandırmak için başlatılan bir seferberliktir. Eğitim durumu, yaş, maddi imkanlar ve benzeri kısıtlara takılmaksızın ön elemelerin tüm gençlerimize açık olduğu tam bir fırsat eşitliği sunmaktadır. Eğitim sonunda elde edilecek yetkinlikler ile gençlerimizin işgücüne katılımı kolaylaşacak, yazılım - bilişim ekosistemine güçlü bir insan kaynağı girdisi sağlanacaktır.

            </p>
            <br />
            <br />

            <div>
                <ol style:"font-size: large; color:black;">
                    <h2>SoftITo Yazılım-Bilişim Akademisi ;</h2>
                    <p></p>

                    <a href="https://softito.com.tr/egitimler">
                    <li>
                        Frontend Developer

                    </li></a>
                    
                    <a href="https://softito.com.tr/egitimler">
                    <li>
                        Backend Developer

                    </li></a>
                       
                    <a href="https://softito.com.tr/egitimler">
                    <li>
                        Veri Analitiği

                    </li></a>

                       <a href="https://softito.com.tr/egitimler">
                       <li>
                           Mobile App. Developer

                       </li></a>

                     <a href="https://softito.com.tr/egitimler">
                     <li>
                         Game Developer

                     </li></a>
                     
                    <a href="https://softito.com.tr/egitimler">
                    <li>
                        Bilişim Güvenliği Mimarı

                    </li></a>



                </ol>

            </div>

            <br />  
            <br />  
            <br />  

            <p> Eğitimlerimiz devam etmektedir.   </p>

            <p>
                <a href="~/Home/Register"> Kayıt olmak için tıklayınız </a>
            </p>

        </div>


    </div>














    <script>
        function openNav() {
            document.getElementById("YanMenu").style.width = "250px";
            document.getElementById("main").style.marginLeft = "50px";
            document.getElementById("Ac").style.display = "none";
            document.getElementById("Kapa").style.display = "none";


        }

        function closeNav() {
            document.getElementById("YanMenu").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("Kapa").style.display = "none";
            document.getElementById("Ac").style.display = "block";
        }

        function closeNavInside() {
            document.getElementById("YanMenu").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("Kapa").style.display = "none";
            document.getElementById("Ac").style.display = "block";
        }
    </script>



</body>
</html> 